<div class="navbar-component">
  <nav class="navbar navbar-expand-lg bg-light border-bottom">
    <div class="container-fluid navbar-container">
      <button mat-icon-button class="me-2" matTooltip="Close Sidenav">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="navbar-brand">NoteLink</span>

      <div class="collapse navbar-collapse">
        <div class="d-flex ms-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Note" aria-label="Search Note">
          <button mat-stroked-button class="border-success text-success" matTooltip="Search notes">
            <span class="mx-2">Search</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
