<div class="sidenav-component">
  <mat-drawer-container class="sidenav" autosize>
    <mat-drawer class="sidenav-container bg-light" mode="side" [(opened)]="sidenavOpened">
      <mat-list>
        <a mat-list-item [routerLink]="'/notes'" routerLinkActive="route-active">
          <mat-icon matListItemIcon class="text-secondary">description</mat-icon>
          <div matListItemTitle>Notes</div>
        </a>
        <a mat-list-item>
          <mat-icon matListItemIcon class="text-secondary">label</mat-icon>
          <div matListItemTitle>Important</div>
        </a>

        <mat-list-item mat-list-item>
          <mat-icon matListItemIcon class="text-secondary">edit</mat-icon>
          <div matListItemTitle>Edit Labels</div>
        </mat-list-item>
      </mat-list>

      <div class="copyright d-flex justify-content-center align-items-center">
        <span class="text-muted">Developed by Edycar Reyes</span>
      </div>
    </mat-drawer>

    <div class="content bg-light">
      <div class="container pt-4">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-container>
</div>
