<div class="manage-note-form-component">
  <mat-card
    class="note-card rounded shadow-none border"
    [formGroup]="noteForm"
    [style.background-color]="getControl('color')?.value">

    <div class="note-image" *ngIf="getControl('images')?.value[0] !== ''">
      <img
        mat-card-image
        [src]="getControl('images')?.value[0]"
        class="w-100"
        alt="Note Image">

      <button
        mat-icon-button
        class="delete-image-button"
        matTooltip="Remove Image"
        (click)="removeNoteImage(); imagePicker.value = '';">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-card-header>
      <mat-card-title>
        <input
          type="text"
          placeholder="Title"
          class="w-100 note-title fw-semibold text-dark"
          formControlName="title"
          [style.background-color]="getControl('color')?.value">
      </mat-card-title>
      <mat-card-subtitle *ngIf="getControl('id')?.value !== null">
        Last updated: 13 Oct 2020
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <textarea
        formControlName="description"
        class="w-100 note-description mt-3 text-dark"
        cdkTextareaAutosize
        cdkAutosizeMaxRows="28"
        cdkAutosizeMinRows="2"
        placeholder="Add a note..."
        [style.background-color]="getControl('color')?.value">
      </textarea>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="aboveMenu">
        <mat-icon class="material-icons-outlined">palette</mat-icon>
      </button>

      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="setNoteColor(null)">
          <mat-icon class="text-primary" *ngIf="getControl('color')?.value === null">check</mat-icon>
          <mat-icon class="material-icons-outlined">format_color_reset</mat-icon>
          <span>Without Color</span>
        </button>
        <button mat-menu-item *ngFor="let color of colors" (click)="setNoteColor(color.color)">
          <mat-icon class="text-primary" *ngIf="getControl('color')?.value === color.color">check</mat-icon>
          <mat-icon [style.color]="color.color">palette</mat-icon>
          <span>{{color.name}}</span>
        </button>
      </mat-menu>

      <button mat-icon-button matTooltip="Change labels">
        <mat-icon class="material-icons-outlined">label</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Add image" (click)="imagePicker.click()">
        <mat-icon class="material-icons-outlined">image</mat-icon>
      </button>

      <input type="file" accept="image/*" class="d-none" #imagePicker (change)="uploadImage($event)">

      <button mat-icon-button matTooltip="Delete note" *ngIf="getControl('id')?.value !== null">
        <mat-icon class="material-icons-outlined">delete</mat-icon>
      </button>

      <div class="save-cancel-buttons ms-auto d-flex">
        <button
          mat-flat-button
          matTooltip="Clear note form"
          (click)="clearNoteForm()"
          [disabled]="loading">
          Cancel
        </button>

        <div
          class="save-button"
          [matTooltip]="noteForm.invalid ? 'Title and Description are required with at least 3 characters' : 'Save note'">
          <button
            mat-flat-button
            (click)="saveNote()"
            [disabled]="noteForm.invalid || loading">
            Save
          </button>
        </div>
      </div>
    </mat-card-actions>

    <mat-card-footer *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
